<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}

        <!-- Title -->
        <title>Instagram Clone Coding</title>

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />

        <!-- Google Icon -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- Style -->
        <style>
            .box {
                width: 150px;
                height: 150px;
                border-radius: 70%;
                overflow: hidden;
            }
            .profile {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .feed_box {
                margin: 20px 0;
                border: solid 1px gray;
                background-color: white;
            }
            .modal_overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                /* 아래의 코드에 있는 flex 를 display: none; 으로 수정해보세요 */
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.8);
                backdrop-filter: blur(1.5px);
                -webkit-backdrop-filter: blur(1.5px);
            }

            .modal_window {
                background: white;
                backdrop-filter: blur(13.5px);
                -webkit-backdrop-filter: blur(13.5px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
                width: 80%; /* 고정 크기 대신 화면 너비의 80%로 설정 */
                max-width: 800px; /* 최대 너비를 800px로 제한 */
                height: auto; /* 높이를 자동으로 조절 */
                position: relative;
                padding: 10px;
            }

            .img_upload_space {
                border-top: solid 1px gray;
                width: 100%; /* 부모 요소에 맞게 너비를 100%로 설정 */
                height: 0; /* 초기 높이는 0으로 설정 */
                padding-bottom: 75%; /* 너비 대비 높이 비율을 4:3으로 유지 */
                background-size: contain; /* 이미지를 영역에 맞게 축소 */
                background-repeat: no-repeat;
                background-position: center;
            }

            /* 좋아요가 활성화 된 경우 */
            .favorite.active {
                color: red !important;
            }

            /* 북마크가 활성화 된 경우 */
            .bookmark.active {
                color: blue;
            }
        </style>
    </head>
    <body>
        <!-- 네비게이션 바 : 상단 고정, 전체 너비 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; z-index: 999">
            <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px">
                <!-- 왼쪽 상단 로고 -->
                <a class="navbar-brand" href="index">
                    <img
                        style="width: 100px"
                        src="https://i.namu.wiki/i/C9DgUkHfi6o7f1AWb529VHjHQeWtTFhVdFNc6YVScQzg4pARwRjBOWgidRveffl1j8ZqQbXQ40d64t1XVHL6Zw.svg"
                        alt="Instagram Clone Logo"
                    />
                </a>

                <!-- 검색 바 -->
                <input
                    class="form-control me-2"
                    style="width: 400px"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />

                <!-- 아이콘 링크 -->
                <div style="display: flex">
                    <a href="index" style="color: black"
                        ><span class="material-symbols-outlined" style="padding-right: 10px">home</span></a
                    >
                    <!-- 기능을 구현하지 않은 아이콘은 주석 처리 -->
                    <!-- <span class="material-symbols-outlined"> search </span> -->
                    <!-- <span class="material-symbols-outlined"> explore </span> -->
                    <!-- <span class="material-symbols-outlined"> sms </span> -->
                    <!-- <span class="material-symbols-outlined"> favorite </span> -->
                    <!-- add_box 코드 -->
                    <span id="nav_bar_add_box" class="material-symbols-outlined" style="padding-right: 5px">
                        add_box
                    </span>

                    <!-- dropdown 기능 구현 -->
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="box" style="width: 25px; height: 25px">
                                <!-- 프로필 아이콘 -->
                                <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}" />
                            </div>
                        </a>

                        <ul class="dropdown-menu" style="left: -158px" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- 메인 피드 섹션 -->
        <div
            style="
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                padding-top: 60px;
                background-color: #fafafa;
            "
        >
            <!-- 왼쪽 피드 박스 -->
            <div style="width: 500px; min-width: 500px; margin-right: 300px">
                {% for feed in feeds %}
                <div class="feed_box">
                    <div style="display: flex; flex-direction: row; align-items: center; margin: 20px">
                        <div class="box" style="width: 35px; height: 35px">
                            <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}" />
                        </div>
                        <div>{{ feed.nickname }}</div>
                    </div>

                    <img style="width: 100%" src="{% get_media_prefix %}{{ feed.image }}" />

                    <!-- 좋아요 & 북마크 기능 구현 -->
                    <div style="margin: 0 20px; display: flex; flex-direction: row; justify-content: space-between">
                        <div>
                            <span
                                id="favorite_{{ feed.id }}"
                                feed_id="{{ feed.id }}"
                                class="favorite material-symbols-outlined {% if feed.is_liked %}active{% endif %}"
                                style="color: black; cursor: pointer"
                                >{% if feed.is_liked %}favorite{% else %}favorite_border{% endif %}</span
                            >

                            <!-- 기능 구현을 하지 않은 아이콘 -->
                            <span class="material-symbols-outlined"> chat </span>
                            <span class="material-symbols-outlined"> send </span>
                        </div>
                        <div>
                            <span
                                id="bookmark_{{ feed.id }}"
                                feed_id="{{ feed.id }}"
                                class="bookmark material-symbols-outlined {% if feed.is_marked %}active{% endif %}"
                                style="cursor: pointer"
                            >
                                {% if feed.is_marked %}bookmark{% else %}bookmark_border{% endif %}
                            </span>
                        </div>
                    </div>

                    <!-- 좋아요 -->
                    <div style="margin: 0 20px; text-align: left; font-size: 14px">
                        <b id="like_count_{{ feed.id }}">좋아요 {{ feed.like_count }}개</b>
                    </div>

                    <!-- 본문 -->
                    <div style="margin: 0 20px; text-align: left; font-size: 14px">
                        <b>{{ feed.nickname }}</b> {{ feed.content }}
                    </div>

                    <!-- 댓글 리스트 -->
                    <div id="reply_list_{{ feed.id }}">
                        {% for reply in feed.reply_list %}
                        <div style="margin: 0 20px; text-align: left; font-size: 14px">
                            <b>{{ reply.nickname }}</b> {{ reply.reply_content }}
                        </div>
                        {% endfor %}
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center; border-top: solid 1px gray">
                        <input
                            id="reply_{{ feed.id }}"
                            type="text"
                            class="form-control"
                            style="box-shadow: none; border: none; outline: none"
                            placeholder="댓글 달기.."
                        />
                        <div
                            feed_id="{{ feed.id }}"
                            class="upload_reply"
                            style="width: 50px; color: cornflowerblue; font-weight: bold"
                        >
                            게시
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 오른쪽 섹션 -->
            <div style="width: 400px; height: 1000px; position: fixed; left: 62%; z-index: 0">
                <div style="display: flex; flex-direction: row; align-items: center; margin: 20px">
                    <!-- User profile section -->
                    <div class="box" style="width: 70px; height: 70px">
                        <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}" />
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold">{{ user.nickname }}</div>
                        <div style="color: gray">{{ user.name }}</div>
                    </div>
                </div>

                <!-- Recommended accounts section -->
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <div style="font-weight: bold; color: gray">회원님을 위한 추천</div>
                    <div>
                        <a href="#" style="font-weight: bold; color: black; text-decoration: none">모두보기</a>
                    </div>
                </div>

                <!-- 실제 다른 계정 추천 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div style="display: flex; flex-direction: row">
                        <div class="box" style="width: 35px; height: 35px">
                            <img
                                class="profile"
                                src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png"
                            />
                        </div>
                        <div style="margin-left: 10px; text-align: left">
                            <div style="font-weight: bold; font-size: 14px">아기 근육 다람쥐 친구 춘식이</div>
                            <div style="color: gray; font-size: 14px">나랑 같이 칼국수 먹음</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div style="display: flex; flex-direction: row">
                        <div class="box" style="width: 35px; height: 35px">
                            <img
                                class="profile"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTddlhrrnnDsahGO_w49CV1TNH_CPGx5pm4x7SsAczaPQ&s"
                            />
                        </div>
                        <div style="margin-left: 10px; text-align: left">
                            <div style="font-weight: bold; font-size: 14px">짱구</div>
                            <div style="color: gray; font-size: 14px">초코비! 액션가면!</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div style="display: flex; flex-direction: row">
                        <div class="box" style="width: 35px; height: 35px">
                            <img
                                class="profile"
                                src="https://cafe24.poxo.com/ec01/figurepresso89/BhNwo1jckXH28PSBZRxpvrRNVBIPVsjIZXgklj2fzlwtz4XBkYsUeuG/tl2zOxkvgioVJTtBnfs8EcuagkLTXA==/_/web/product/big/202210/fb112770e3c289757632cb22f51d32e8.jpg"
                            />
                        </div>
                        <div style="margin-left: 10px; text-align: left">
                            <div style="font-weight: bold; font-size: 14px">아구몬</div>
                            <div style="color: gray; font-size: 14px">테일아~ 오늘은 뭐 먹어?</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div style="display: flex; flex-direction: row">
                        <div class="box" style="width: 35px; height: 35px">
                            <img
                                class="profile"
                                src="https://i.namu.wiki/i/IzZNZMwZo3_qZ1fAHJ6Iu05VMyHxwOuboM-UkIx_Ggtiu9es8sq96g67ojeh23qEw-hCI4oO2STMYhKK5Vi20w.webp"
                            />
                        </div>
                        <div style="margin-left: 10px; text-align: left">
                            <div style="font-weight: bold; font-size: 14px">뽀로로</div>
                            <div style="color: gray; font-size: 14px">노는 게 제일 좋아!</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div style="display: flex; flex-direction: row">
                        <div class="box" style="width: 35px; height: 35px">
                            <img
                                class="profile"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp5gk8s6pQtXbTmlp0H-HFYqu7MTKmjfjeJvx0ceBzx1xUkkXGHNERgbuj7Szk59mSFaA&usqp=CAU"
                            />
                        </div>
                        <div style="margin-left: 10px; text-align: left">
                            <div style="font-weight: bold; font-size: 14px">멋쟁이 사자처럼</div>
                            <div style="color: gray; font-size: 14px">나랑 사바나 갈사람?!</div>
                        </div>
                    </div>
                    <div>
                        <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
                    </div>
                </div>

                <!-- Footer information and copyright -->
                <div style="margin-top: 40px; font-size: 12px; color: gray; text-align: left">
                    소개 . 도움말 . 홍보센터 . API <br />
                    개인정보처리방침 . 약관 . 위치 . 언어 . Meta Verified
                </div>
                <div style="margin-top: 20px; font-size: 12px; color: gray; text-align: left">
                    © 2024 INSTAGRAM FROM META
                </div>
            </div>
        </div>

        <!-- First modal -->
        <div id="first_modal" class="modal_overlay">
            <div class="modal_window">
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <div style="width: 40px"></div>
                    <div>새 이미지 업로드</div>
                    <div style="width: 40px">
                        <span id="close_icon" class="material-symbols-outlined">close</span>
                    </div>
                </div>

                <div class="img_upload_space"></div>
            </div>
        </div>

        <!-- second_modal -->
        <div id="second_modal" class="modal_overlay">
            <div class="modal_window">
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <div style="width: 40px"></div>
                    <div>새 게시물</div>
                    <div style="width: 40px">
                        <span id="close_icon" class="material-symbols-outlined">close</span>
                    </div>
                </div>

                <div style="border-top: solid 1px gray; display: flex; flex-direction: row; margin-top: 10px">
                    <div class="img_upload_space" style="width: 500px; height: 540px"></div>
                    <div style="border-left: solid 1px gray">
                        <div>
                            <textarea
                                id="input_feed_content"
                                class="form-control"
                                style="width: 276px; height: 400px"
                                rows="5"
                            ></textarea>
                        </div>
                        <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%">
                            공유하기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- When add_box clicked -->

        <!-- 403 Forbidden Error Sol -->
        <script>
            const csrftoken = '{{ csrf_token }}';
        </script>

        <script>
            // 'close_icon' id를 가진 모든 요소에 클릭 이벤트를 적용
            $('.modal_overlay').on('click', '#close_icon', function () {
                closeModal();
            });

            // nav_bar 에 있는 add_box를 클릭했을 때, 모달 창이 나오도록 하는 이벤트
            $('#nav_bar_add_box').click(function () {
                $('#first_modal').css({
                    display: 'flex',
                });

                $(document.body).css({
                    overflow: 'hidden',
                });
            });

            // 모달창이 꺼지도록하는 함수
            function closeModal() {
                $('.modal_overlay').css({
                    display: 'none',
                });
                $(document.body).css({
                    overflow: 'visible',
                });
            }

            // 공유하기 버튼 클릭 시 진행되는 로직
            let files;
            $('#feed_create_button').click(function () {
                alert('공유하기 버튼을 눌렀습니다!');

                let file = files[0];
                let image = files[0].name;
                let content = $('#input_feed_content').val();

                // FormData 객체를 생성
                let fd = new FormData();

                // FormData 객체에 앞서 저장한 변수들을 추가
                fd.append('file', file);
                fd.append('image', image);
                fd.append('content', content);

                // $.ajax 메소드를 사용하여 /content/upload URL로 POST 요청
                $.ajax({
                    url: '/content/upload',
                    data: fd,
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    headers: { 'X-CSRFToken': csrftoken }, // 403 Forbidden Error Sol
                    success: function (data) {
                        console.log('성공');
                    },
                    error: function (request, status, error) {
                        console.log('에러');
                    },
                    complete: function () {
                        console.log('완료');
                        closeModal();
                        location.reload();
                    },
                });
            });

            // 사진을 드래그 & 드랍 & 파일 업로드할 수 있도록 만든 로직
            $('.img_upload_space').on('dragover', dragOver).on('dragleave', dragOver).on('drop', uploadFiles);

            function dragOver(e) {
                e.stopPropagation();
                e.preventDefault();

                if (e.type == 'dragover') {
                    $(e.target).css({
                        'background-color': 'black',
                        'outline-offset': '-20px',
                    });
                } else {
                    $(e.target).css({
                        'outline-offset': '-10px',
                    });
                }
            }

            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();

                e.dataTransfer = e.originalEvent.dataTransfer;
                files = e.target.files || e.dataTransfer.files;
                console.log('뭔가 파일을 올렸네??' + files[0].name);
                if (files.length > 1) {
                    alert('하나만 올려주세요!');
                    return;
                }
                if (files[0].type.match(/image.*/)) {
                    $('#first_modal').css({ display: 'none' });
                    $('#second_modal').css({ display: 'flex' });

                    $('.img_upload_space').css({
                        'background-image': 'url(' + window.URL.createObjectURL(files[0]) + ')',
                        outline: 'none',
                        'background-size': '100%',
                        'background-repeat': 'no-repeat',
                        'background-position': 'center',
                    });
                } else {
                    alert('이미지가 아닙니다.');
                    return;
                }
            }

            // 댓글달기 게시 버튼 클릭 시 진행되는 로직
            $('.upload_reply').click(function (event) {
                let feed_id = event.target.attributes.getNamedItem('feed_id').value;
                let reply_id = 'reply_' + feed_id;
                let reply_content = $('#' + reply_id).val();

                if (reply_content.length <= 0) {
                    alert('댓글을 입력하세요');
                    return 0;
                }

                $.ajax({
                    url: '/content/reply',
                    data: {
                        feed_id: feed_id,
                        reply_content: reply_content,
                    },
                    method: 'POST',
                    headers: { 'X-CSRFToken': csrftoken },
                    success: function (data) {
                        console.log('성공');
                        alert('댓글 성공');
                        $('#reply_list_' + feed_id).append(
                            "<div style='margin: 0 20px;text-align: left;font-size: 14px'><b>{{ user.nickname }}</b> " +
                                reply_content +
                                '</div>'
                        );
                        location.reload();
                    },
                    error: function (request, status, error) {
                        console.log('에러');
                    },
                    complete: function () {
                        console.log('완료');
                        $('#' + reply_id).val('');
                    },
                });
            });

            // 좋아요 버튼 클릭 이벤트 처리
            $(document).on('click', '.favorite', function () {
                let feed_id = $(this).attr('feed_id');
                let icon = $(this);

                $.ajax({
                    url: '/content/like',
                    type: 'POST',
                    data: {
                        feed_id: feed_id,
                    },
                    headers: { 'X-CSRFToken': csrftoken },
                    success: function (data) {
                        console.log('성공');
                        let like_count = data.like_count;
                        $('#like_count_' + feed_id).text('좋아요 ' + like_count + '개');
                        icon.toggleClass('active');
                        if (icon.hasClass('active')) {
                            icon.text('favorite');
                        } else {
                            icon.text('favorite_border');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('에러');
                    },
                    complete: function () {
                        console.log('완료');
                    },
                });
            });

            // 북마크 버튼 클릭 이벤트 처리
            $('.bookmark').click(function (event) {
                let feed_id = event.target.attributes.getNamedItem('feed_id').value;
                let bookmark_id = event.target.id;

                $.ajax({
                    url: '/content/bookmark',
                    data: {
                        feed_id: feed_id,
                    },
                    method: 'POST',
                    headers: { 'X-CSRFToken': csrftoken },
                    success: function (data) {
                        console.log('성공');
                        $('#' + bookmark_id).toggleClass('active');
                        if ($('#' + bookmark_id).hasClass('active')) {
                            $('#' + bookmark_id).text('bookmark');
                        } else {
                            $('#' + bookmark_id).text('bookmark_border');
                        }
                    },
                    error: function (request, status, error) {
                        console.log('에러');
                    },
                    complete: function () {
                        console.log('완료');
                    },
                });
            });
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
