<!-- Bootstrap CSS -->
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
crossorigin="anonymous"
/>

<!-- Jquery -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<style>
body {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    background-color: white;
    width: 350px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    height: 36px;
    font-size: 14px;
}

.form-floating {
    margin-bottom: 16px;
}

.btn-primary,
.btn-facebook {
    height: 36px;
    line-height: 23px;
    width: 100%;
}

.btn-facebook {
    background-color: transparent;
    color: #385185;
    border: none;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 16px;
}

.divider-or {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.divider-or::before,
.divider-or::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #dbdbdb;
}

.divider-or::before {
    left: 0;
}

.divider-or::after {
    right: 0;
}

.login-link {
    background-color: white;
    width: 350px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    text-align: center;
}
</style>
</head>
<body>
<div class="signup-form">
<img
    style="height: 51px; margin: 22px auto 20px; display: block"
    src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"
/>
<div style="text-align: center; color: gray; font-weight: 600; margin-bottom: 20px">
    친구들의 사진과 동영상을 보려면 가입하세요.
</div>
<button class="btn btn-facebook">Facebook으로 로그인</button>
<div class="divider-or">또는</div>
<form>
    <div class="form-floating">
        <input
            type="text"
            class="form-control"
            id="input_email"
            placeholder="휴대폰 번호 또는 이메일 주소"
        />
        <label for="input_email">휴대폰 번호 또는 이메일 주소</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="input_name" placeholder="성명" />
        <label for="input_name">성명</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="input_nickname" placeholder="사용자 이름" />
        <label for="input_nickname">사용자 이름</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="input_password" placeholder="비밀번호" />
        <label for="input_password">비밀번호</label>
    </div>
    <button id="join_button" type="submit" class="btn btn-primary">가입</button>
</form>
</div>
<div class="login-link">
<span>계정이 있으신가요? <a href="/user/login">로그인</a></span>
</div>

<!-- 가입 버튼을 눌렀을 때 -->
<!-- 403 Forbidden Error Sol -->
<script>
const csrftoken = '{{ csrf_token }}';
</script>

<script>
$('#join_button').on('click', (event) => {
    event.preventDefault(); // 폼 제출 기본 동작 막기
    console.log('가입 버튼을 클릭했습니다.');
    let email = $('#input_email').val();
    let name = $('#input_name').val();
    let nickname = $('#input_nickname').val();
    let password = $('#input_password').val();

    console.log(
        '이메일 주소 :' +
            email +
            ', 이름 :' +
            name +
            ', 사용자이름 :' +
            nickname +
            ', 비밀번호 :' +
            password
    );

    $.ajax({
        url: '/user/join/',
        data: {
            email: email,
            password: password,
            nickname: nickname,
            name: name,
        },
        method: 'POST',
        headers: { 'X-CSRFToken': csrftoken }, // 403 Forbidden Error Sol
        success: function (data) {
            console.log('성공');
            alert('회원가입을 성공했습니다. 로그인 페이지로 이동합니다.');
            location.href = '/user/login/';
        },
        error: function (request, status, error) {
            let data = JSON.parse(request.responseText);
            console.log(data.message);
            alert(data.message);
        },
    });
});
</script>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"
></script>
</body>
</html>
